
# Ignore .env files
.env
.git

# Ignore node_modules
node_modules/

# Ignore build output
dist/
# Ignore logs
logs/


# ignore Python bytecode
__pycache__/

# ignore python virtual environment
fast-api-env/



